<footer>
    <div class="container1">
        <div class="footer-content">
            <div class="footer-column">
                <h3>About AudiEllite Autos</h3>
                <p>
                    Welcome to AudiEllite Autos! We are your premier destination for high-quality vehicles. 
                    Explore our collection of luxury cars and find the perfect ride that suits your style and preferences.
                </p>
            </div>

            <div class="footer-column">
                <h3>Contact</h3>
                <p>123 Luxury Avenue <br> Elite City, AutoLand, 54321 <br> Email: info@AudiElliteAutos.com <br> Phone: 555-1234-5678</p>
            </div>

            <div class="footer-column">
               
                <img src="photos/logo.png" alt="AudiEllite Autos Logo" class="footer-logo">
                <h3>Follow us</h3>
                <div class="social-media-icons">
                    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
    <p>AudiEllite Autos, all rights reserved to Taulant Shala, member of MakerMinds, 2024.</p>
</div>

</footer>
    
    <link rel="stylesheet" href="templates/footer-template.css">