header{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    height: 80px;
}
nav{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}
.logo img{
    height: 80px;
    width: 110px;
    margin-bottom: 20px;
   
}

.nav-links ul{
    list-style: none;
    display: flex;
    margin-top: 23px;
    justify-content:flex-start;
 
}

.nav-links li{
   margin: 10px 10px;

}
.nav-links a{
    margin-top: 0;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-links a:hover{
color: #9f9f9f;
}


.car{
    display:none;
}
@media screen and (max-width:768px){
    .nav-links{
        position: absolute;
        background-color: white;
        height: 100%;
        top: 0;
        right: 0;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s ease;
        z-index: 999;
        transform: translateX(200px);


    }
    .nav-links ul{
flex-direction: column;
    }
    .nav-links li {
        margin: 10px 0;
    }
    .car
    {
        display: block;
        cursor: pointer;
    }
.line1, .line2, .line3
{
  
width: 30px;
height: 3px;
background-color: black;
margin: 5px;
transition: all 0.5s ease; 
position: relative;


}
.nav-active {
transform: translateX(0);



}

header{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 4px 6px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    height: 80px;
}
nav{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}
.logo img{
    height: 80px;
    width: 110px;
    margin-bottom: 20px;
   
}

.nav-links ul{
    list-style: none;
    display: flex;
    margin-top: 23px;
    justify-content:flex-start;
 
}

.nav-links li{
   margin: 10px 10px;

}
.nav-links a{
    margin-top: 0;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-links a:hover{
color: #9f9f9f;
}


.car{
    display:none;
}
@media screen and (max-width:768px){
    .nav-links{
        position: absolute;
        background-color: white;
        height: 100%;
        top: 0;
        right: 0;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.3s ease;
        z-index: 99909;
        transform: translateX(200px);


    }
    .nav-links ul{
flex-direction: column;
    }
    .nav-links li {
        margin: 10px 0;
    }
    .car
    {
        display: block;
        cursor: pointer;
    }
.line1, .line2, .line3
{
  
width: 30px;
height: 3px;
background-color: black;
margin-left: 300px;
top: 50px;
transition: all 0.5s ease; 
position: relative;


}
.nav-active {
transform: translateX(0);



}

.line1{ 
    margin-left: 300px;
top: 50px;
position:absolute;
transform: rotate(-45deg) ;


}

.line2{
    margin-left: 300px;
opacity: 0;
}
.line3
{
    margin-left: 300px;
top: 50px;
position:absolute;
transform: rotate(45deg) ;
}}





}

