<header>
</nav>
    <nav>
    
        <div class = "logo"><a href="#"><img src="photos/logo.png" alt = "This is a logo photo"></a>
        <div class = "nav-links"><ul>
        <li><a href = "index.html">Home</a></li>
        <li><a href = "models.html">Models</a></li>
        <li><a href = "service.html">Service</a></li>
        <li><a href = "about-us.html">About us</a></li>
        <li><a href = "contact-us.html">Contact us</a></li>
        
    </ul></div>
        <div class="car" id="toggle-menu">
        <div class="line1"></div>
   
         <div class="line2"></div>
    <div class="line3"></div></div>
</div>

    </header>
<link rel="stylesheet" href="templates/header-template.css">



<script>
    const toggleMenu = document.getElementById('toggle-menu');
    const navLinks = document.querySelector('.nav-links');

    toggleMenu.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    });
</script>
